<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    
</head>
<style>
    body {
    
    background-color:aqua;
}
.peapoleTable {
    display: grid;
    grid-template-columns: auto auto auto auto ;
    width:300px;
}
p{
  
}
.test{
    background-color:forestgreen;
    width:200px;
    height:200px;
}
</style>
<body>

    <div>
        
        @RenderBody()
    </div>
</body>
</html>
