@using Mvc_Data.Models
@model IEnumerable<City>

@{
    ViewData["Title"] = "City";
    
}
<h1>City</h1>
<p>@Html.ValidationSummary()</p>
<p>whrite Id of the city you whant to delete delete</p> 

@using (Html.BeginForm("Delet", "City", FormMethod.Post))
{

    <input type="text" name="stuff" >
        
      <input type="submit" value="delet">
}
   

@using (Html.BeginForm("addCity","City",FormMethod.Post))
{

    <input type="text" name="Name" placeholder="Name">
    <input type="text" name="CounteryName" placeholder="CounteryName">
        
      <input type="submit" value="Add">
}

<div class="peapoleTable">
   @foreach (var v in Model)
{
    
        <div class="row"> 
	    <p class="col-sm-4">@v.Name</p> 
        <p class="col-sm-4">@v.CounteryName</p>         
        <p class="col-sm-4">iD: @v.CityID</p>
</div> 
                         
} 
    
 
</div>
