@using Mvc_Data.Models
@model IEnumerable<Person>

@{
    ViewData["Title"] = "Index";
    
}
<h1>Index</h1>

<p>whrite Id(position) of the person you whant to know more about or delete</p> 

<!--using (Html.BeginForm("Serch", "Home", FormMethod.Post))
{

    <input type="text" name="sertch" value="ViewBag.Phrase">
        
      <input type="submit" value="sertch">
}//-->

    <input type="text" name="" id="details">
        
      <button class="det" value="Details">Details</button>
      <button class="det" value="DeletJ">Delete</button>

@using (Html.BeginForm())
{


    <input type="text" name="Name" placeholder="Name">
    <input type="text" name="City" placeholder="City">
    <input type="text" name="Phone" placeholder="Phone">
        
      <input type="button" value="Add" onclick="postAdd()">
}
<button onclick="getPartial()">Peapole</button>
<div class="peapoleTable" id="pep">
    
    
 
</div>

