@using Mvc_Data.Models
@model IEnumerable<Person>

@{
    ViewData["Title"] = "Index";
    int i = 0;
}
<h1>Index</h1>

<p>sertch for persons name</p> 
<p>@Html.ValidationSummary()</p>
@using (Html.BeginForm("Serch", "Home", FormMethod.Post))
{

    <input type="text" name="sertch" value="@ViewBag.Phrase">
        
      <input type="submit" value="sertch">
}
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{


    <input type="text" name="Name" placeholder="Name">
    <input type="text" name="City" placeholder="City">
    <input type="text" name="Phone" placeholder="Phone">
        
      <input type="submit" value="Add">
}
<div class="peapoleTable">
@foreach (Person v in Model)
{
    @if (ViewBag.Phrase ==null || v.Name.Contains(ViewBag.Phrase)) {
        ViewData["i"] = i;
               
        <partial name="Pview" model="v" view-data="ViewData" />
        
    }
    
        i++;
    
} 
</div>

